<div class="modal fade show d-block" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered spinnerBox" role="document">
        <div class="modal-content">
            <div class="modal-header popupHeader">
                <div class="d-flex pupupheaderDiv">
                    <div class="flex-grow-1 p-2">
                        <span class="caption">Demo</span>
                    </div>
                </div>
            </div>
            <div class="modal-body d-flex text-center flex-column align-items-center">
                <img src="/Images/loader.gif">
                <div class="msgColor">@Message</div>
            </div>
        </div>
    </div>
</div>